# Byte-compiled Python file
__pycache__/

# Temporary file
*.tmp

# Word document
*.doc*

# Word document temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Word document with macros temporary
~$*.dot*
